<div class="input-group input-group-lg">
  <input type="text" autocomplete="off" class="form-control" placeholder="How can we help you?" />
  <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search"></span>
      </button>
  </span>
</div>
