<div class="row main">
  <div class="col-xs-12 col-sm-9 col-md-8 search-content">
    <%= render 'searchbar' %>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-4 analytics-sidebar">
    <h1>Search analytics</h1>

    <ul class="list-group">
      <div id="analytics">
        <%= render partial: 'items', locals: { searches: searches } %>
      </div>
    </ul>
    <%= link_to 'Clear stats', clear_path, data: { confirm: "Are you sure?" },
                                           class: "btn btn-xs btn-danger" %>
  </div>
</div>
